body {
  background-color: red;
  text-align: center
  }

  /* create a 6x9 grid in the center of the page and make them circles  */

  #board {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: center;
    text-align: center;
    border: 2px solid;
    width: 100%;
    max-width: 750px;
    background-color: black;
    box-shadow: 0 0px 20px 0;
    margin:auto;
  }
  /* make column rows */

  .cell {
    height: 100px;
    width: 100px;
    border: 2px solid;
    border-radius: 50%;
    font-size: 120px;
    text-align: center;
    justify-content: center;
    border: solid;
    box-shadow: 0 0px 20px 0;
    cursor: pointer;
    background-color: antiquewhite;
    margin: auto;
  }

/* display each class box */
  /* .box {
    height: 100px;
    width: 100px;
    border: 2px solid;
    border-radius: 50%;
    font-size: 120px;
    text-align: center;
    justify-content: center;
    border: solid;
    box-shadow: 0 0px 20px 0;
    cursor: pointer;
    background-color: antiquewhite;
    margin: auto;
  } */
/* change button color  */
  button {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
    background-color: greenyellow;
  }
  /* change font for status */
  h2, h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .yellow {
    background-color: yellow;
  }

  .blue {
    background-color: blue;
  }